* {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    max-width: 600px;
    background-color: rgba(12, 11, 11, 0.786);
    padding: 4em 5em;
    border-radius: 10px;
    height: 65%;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
  }
  
  .accordion-item {
    text-align: center;
    width: 90%;
  }
  
  .accordion-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    min-height: 3.5rem;
    cursor: pointer;
  }
  
  .accordion-item-title {
    color: rgba(255, 255, 255, 0.758);
    font-size: 1.125rem;
    font-weight: 400;
    text-align: left;
  }
  
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .accordion-item-body-content {
    width: 80%;
    padding-top: 1em;
    color: #fff;
    text-align: left;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 2px solid;
    width: 34px;
    height: 34px;
    color: #f7f8fc;
    transition: color 0.25s;
    position: relative;
    border-radius: 100%;
  }
  
  .icon:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: white;
    border-radius: 20px;
    pointer-events: all;
    transition: all 0.3s ease-in-out;
  }
  
  .icon:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 14px;
    background-color: white;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  /* JavaScript */
  .accordion-item-header.active > .icon::before {
    transform: rotate(180deg);
  }
  
  .accordion-item-header.active > .icon::after {
    transform: rotate(90deg);
  }
  
  .divider {
    width: 100%;
    height: 1px;
    margin: 10px 0 10px 0;
    background-color: #dae1f5;
  }
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
  }
  
  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background: rgb(4, 4, 19);
  }
  
  #searchBox {
    width: 50%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
  }
  
  #input {
    width: 80%;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
  }
  
  #searchBtn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background: crimson;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .content-container {
    width: 90%;
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
    text-align: justify;
    max-width: 700px;
    margin-top: 20px;
    font-family: sans-serif;
  }
  
  /* JavaScript */
  mark {
    background: crimson;
  }
  body {
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  /* Menu Start */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    background-color: #5c6fda;
    clip-path: circle(20px at calc(100vw - 5vw) 31px);
    transition: clip-path 0.5s;
  }
  
  .menu li {
    position: relative;
    z-index: 5;
  }
  
  .menu a {
    text-decoration: none;
    color: rgb(46, 45, 45);
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    width: 120px;
    padding: 5px;
  }
  
  .btn {
    position: absolute;
    top: 20px;
    left: calc(100vw - 5vw);
    transform: translateX(-50%);
    cursor: pointer;
  }
  
  .btn > span {
    width: 3px;
    height: 3px;
    display: block;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 1px;
  }
  
  .highlight {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    background-color: white;
    transition: transform 0.3s;
  }
  /* Menu End */
  
  /* Image Container Start */
  .image-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img {
    width: 250px;
    height: 250px;
    margin: 20px;
  }
  
  .img-one {
    background-image: url(images/atharva-tulsi-6ftd4RgUdnk-unsplash.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .img-two {
    background-image: url(images/6536956.jpg);
    background-size: cover;
    background-position: center;
  }
  /* Image Container End */
  
  /* Headings Start */
  .container {
    padding: 0 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  article {
    padding: 20px 0;
  }
  
  article > h2 {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    position: relative;
    min-height: 100vh;
    background-color: rgb(10, 10, 165);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
  }
  
  input {
    outline: none;
    background: none;
    border: none;
    width: 90%;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .eye-container {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #eye-icon {
    font-size: 20px;
    color: #777;
    transition: 0.2s ease;
  }
  
  #eye-icon:hover {
    color: rgb(10, 10, 165);
    cursor: pointer;
  }
  
  
  .para {
    max-width: 700px;
    color: rgb(79, 77, 77);
    padding: 10px;
    text-align: center;
    line-height: 22px;
  }
  
  /* Headings End */
    